@font-face {
  font-family: 'HarryPotterFont';
  src: url('./fonts/HARRYP__.TTF') format('truetype');
}

#root {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: 'HarryPotterFont', sans-serif;
  font-weight: lighter;
  font-size: 6rem;
  color: #d4b126;
  background-color: rgba(184, 135, 68, 0.5);
  border-radius: 20px;
  padding: 1rem 5rem 1rem 5rem;
  margin-top: 1rem;
}


.title-container {
  display: flex;
  justify-content: center;
}
.title-container h4 {
  text-align: center;
  font-family: 'HarryPotterFont', sans-serif;
  font-weight: lighter;
  width: 30rem;
  font-size: 4rem;
  color: #d4b126;
  border-radius: 20px;
  padding: 1rem 5rem 1rem 5rem;
  margin-top: 1rem;
}

.logo {
  height: 23rem;
  padding: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #daa520);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #daa520);
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.card {
  padding: 2em;
}

/* Style pour les cartes */
.cards {
  width: 30rem;
  border: 1px solid #daa520;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #b46719;
}

.cards img {
  width: 17rem;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.cards h2 {
  font-size: 2rem;
  margin-bottom: 5px;
  color: #efb112;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
  font-family: 'HarryPotterFont';
  font-weight: lighter;
}

.cards h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: white;
}

.cards p {
  margin-bottom: 5px;
  color: white;
}