body {
  background-image: url(../public/images/backgroundHarry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
  color: #B8860B;
  background-color: rgba(184, 135, 68, 0.5);
  border-radius: 20px;
}

h2 {
  font-size: 2rem;
  color: #583506;
  background-color: rgba(203, 172, 131, 0.8);
  /* Couleur avec une transparence */
  border-radius: 100px;
}

.texte-ombre {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.logo-container {
  position: relative;
}

.logo-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  color: white;
}