@font-face {
  font-family: 'HarryPotterFont';
  src: url('./fonts/HARRYP__.TTF') format('truetype');
}

body {
  background-image: url(../public/images/backgroundHarry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  place-items: center;
}

#pointeur {
  cursor: url(/public/images/baguette.png), auto;
}

#pointe {
  cursor: url(/public/images/baguette.png), auto;
}

#souris {
  cursor: url(/public/images/baguette.png), auto;
}

#cursor {
  cursor: url(/public/images/baguette.png), auto;
}

#curseur {
  cursor: url(/public/images/baguette.png), auto;
}

#curs {
  cursor: url(/public/images/baguette.png), auto;
}

ul {
  list-style-type: none;
  display: flex;
}

h1 {
  font-family: 'HarryPotterFont', sans-serif;
  font-weight: lighter;
  font-size: 6rem;
  color: #d4b126;
  background-color: rgba(184, 135, 68, 0.5);
  border-radius: 20px;
  padding: 1rem 5rem 1rem 5rem;
  margin-top: 1rem;
}

.logo-link {
  position: relative;
  display: inline-block;
  margin: 5rem;
}

.logo-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 2.5rem; 
  font-weight: lighter; 
  font-family: 'HarryPotterFont', sans-serif;
  color:#c59116;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
  background: rgba(76, 13, 7, 0.4);
  width: 20rem;
  padding: 0.3rem;
  border-radius: 30px;
  z-index: 1; 
}

.texte-ombre {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.logo-container {
  position: relative;
  display: inline-block; 
}



/* SCROLLBAR CUSTOMISEE */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #906714;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 60px;
  background-color: #e1b83e;
}

